

.movieSliders {
  display: flex;
  margin: auto;
  margin-bottom: 10px;
}

.carousel-caption {
  border: 3px solid rgb(223, 156, 24);
  z-index: 2;
  font-size: 1rem;
  background-color: #000;
  opacity: .5;
  max-height: 200px;
  margin-bottom: 50px;
  overflow-x: scroll;
}

.carousel-pictures {
  border-radius: 25px;
}